{% extends 'padre.html' %}

{% load static %}


{% block contenidoQueCambia %}

<h1>Viajes en Avion </h1>    
<h4>Estos son los destinos en Avion</h4>

    <ul> 
        {% for avion in Aviones %}
            <li>
                <a href="{% url 'DetalleAvion' avion.id %}">
                    {{avion}}
                </a>
            </li>
            <div>
                <button>
                    <a href="{% url 'EliminaAviones' avion.id %}">Eliminar</a>
                </button>
                <button>
                    <a href="{% url 'ActualizaAviones' avion.id %}">Editar</a>
                </button>
            </div>
        {% endfor %} 
    </ul>

{% endblock contenidoQueCambia %}