{% extends 'padre.html' %}

{% load static %}

{% block contenidoQueCambia %}
    <h1>Paquetes en Colectivo </h1>    
    <h4>Estos son los Paquetes que disponemos</h4>
    <ul>
        
        {% for paquete in lista_paquetes %}
            <li>{{paquete.lugar_de_viaje}} - ${{paquete.precio}} - El hotel en este paquete es: {{paquete.hotel_colectivo}} y los dias de estadia en ese paquete es de {{paquete.estadia}} dias</li>
        {% endfor %}
            
    </ul>
{% endblock contenidoQueCambia %}   
